.techs {
  background-color: #272727;
  align-items: center;
  padding-top: 60px;
}
.techs__content {
  max-width: 1140px;
  margin: 87px auto 0 auto;
  padding-bottom: 83px;
  margin: 0 auto;
}

.techs__title {
  display: block;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px #dadada solid;
  padding: 23px 0;
}

.techs__heading {
  text-align: center;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 89px auto 27px auto;
}

.techs__description {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  padding: 0 22em;
}

.techs__techs {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin-top: 98px;
  align-items: center;
}

.techs__techs-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90px;
  height: 60px;
  background-color: #303030;
  margin: 0 5px;
  border-radius: 10px;
  padding-top: 2px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 1210px) {
  .techs__content {
    max-width: 1010px;
  }
}

@media screen and (max-width: 1023px) {
  .techs{
    padding-top: 50px;
  }
  .techs__content {
    max-width: 668px;
    padding-bottom: 72px;
  }
  .techs__title {
    padding: 22px 0px;
  }
  .techs__description {
    padding: 0 8em;
  }
  .techs__techs {
    margin-top: 75px;
  }
  .techs__heading {
    margin: 80px auto 23px auto;
}
}

@media screen and (max-width: 767px) {
  .techs {
    padding-top: 23px;
  }
  .techs__content {
    max-width: 284px;
  }
  .techs__title {
    font-size: 18px;
    line-height: 22px;
    padding: 11px 0 27px 0px;
  }
  .techs__heading {
    font-size: 30px;
    line-height: 36px;
    margin: 60px auto 24px auto;
  }
  .techs__description {
    font-size: 11px;
    line-height: 16px;
    padding: 0;
  }
  .techs__techs {
    display: grid;
    grid-template-columns: repeat(2, 85px);
    padding: 0;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    gap: 7px 10px;
  }
  .techs__techs-name {
    width: 84px;
    height: 57px;
    margin: 0;
    font-size: 12px;
    line-height: 15px;
  }
}
