.about-me {
  margin: 87px auto 0 auto;
  padding-bottom: 55px;
  max-width: 1140px;
  scroll-behavior: smooth;
}

.about-me__title {
  display: block;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px #dadada solid;
  padding: 23px 0;
}

.about-me__profile {
  margin-top: 67px;
}

.about-me__photo {
  float: right;
  border-radius: 12px;
  max-width: 350px;
}

.about-me__name {
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin-bottom: 15px;
}

.about-me__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.about-me__about {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  max-width: 600px;
  margin-top: 26px;
  margin-bottom: 101px;
}

.about-me__social-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1210px) {
  .about-me {
    max-width: 1010px;
  }
}

@media screen and (max-width: 1023px) {
  .about-me {
    max-width: 668px;
    margin: 65px auto 0 auto;
  }

  .about-me__title {
    padding: 23px 0px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 15px;
  }

  .about-me__subtitle {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__about {
    font-size: 12px;
    line-height: 18px;
    max-width: 363px;
    margin-top: 22px;
  }

  .about-me__photo {
    max-width: 250px;
  }
}

@media screen and (max-width: 767px) {
  .about-me {
    max-width: 292px;
    margin: 29px auto 0 auto;
  }

  .about-me__title {
    font-size: 18px;
    line-height: 22px;
    padding: 25px 0px;
  }

  .about-me__profile {
    margin-top: 62px;
  }

  .about-me__photo {
    max-width: 100%;
    float: none;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.04em;
    margin-bottom: 19px;
    margin-top: 36px;
  }

  .about-me__subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__about {
    font-size: 11px;
    line-height: 16px;
    max-width: 363px;
    margin-top: 22px;
    margin-bottom: 38px;
  }

  .about-me__social-links {
    margin-right: 26px;
  }
}